<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<div class="login-box">
    <h2>Login</h2>

    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Login</button>
    </form>

    <p th:if="${error}" style="color:red; text-align:center;">
        <span th:text="${error}"></span>
    </p>

    <div class="register-link">
        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</div>

</body>
</html>
